<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Enter Clarification Response:</h3>
        </div>
        <div class="modal-body">
            <textarea class="form-control" rows="5" ng-model="response"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

<div class="container">
<h1>Admin Panel</h1>
    <br>
    <div class="panel panel-default">
    <div class="panel-heading">Requested Clarifications</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Problem</th>
                <th>Question</th>
                <th>Response</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="clarif in clarifications">
                <td>{{$index}}</td>
                <td>{{clarif[0][1]}}</td>
                <td>{{clarif[1]}}</td>
                <td>{{clarif[2]}}</td>
                <td>{{clarif[3]}}</td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle">Choose Response <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click='proccessClarifResponse(0, $index)'>Reread the problem statement</a></li>
                            <li><a ng-click='proccessClarifResponse(1, $index)'>Come talk to the administers</a></li>
                            <li><a ng-click='open()'>Answer and respond to all</a></li>
                            <li><a ng-click='scoreboardState()'>Test</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <form name="addTimeForm">
        <label>Add Time to Contest (min):</label>
        <br>
        <input type="number" ng-model="value">
        <button type="submit" class="btn btn-default" ng-click="processAddTimeInput(value)">Submit</button>
    </form>
    <br>
    <form name="freezeScoreboardForm">
        <label>Change Scoreboard State</label>
        <br>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel" ng-click="changeState('unfreeze')" btn-radio="'Active'">Active</label>
            <label class="btn btn-primary" ng-model="radioModel" ng-click="changeState('freeze')" btn-radio="'Frozen'">Frozen</label>
        </div>
    </form>
    <br>
    <div class="panel panel-default">
    <div class="panel-heading">Admin WhiteList</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="admin in whitelist">
                <td>{{$index}}</td>
                <td>"{{admin}}"</td>
            </tr>
        </tbody>
    </table>
    </div>
    <form name="addAdmin">
        <label>Add Admin (email address):</label>
        <br>
        <input type="email" ng-model="text">
        <button type="submit" class="btn btn-default" ng-click="processAddAdminForm(text)">Submit</button>
    </form>
</div>  