<div class="container">
<h1>UT ACM Programming Competition</h1>
<p>
Welcome to the UT ACM's Programming Competition! Over the next few hours you will be solving a series of competitive programming questions using this website.
</p>

<p>
On the problems page you will find a list of the problems which you must solve. These problems are listed in no particular order and are all worth the same amount of points! There is not penalty for answering easier questions, and no bonus for answering harder questions. Your only goal should be to answer as many of these questions as possible.
</p>

<h2>Submitting Solutions</h2>
<p>
You will only receive a limited number of tries to correctly solve each problem. Once you click the "Attempt to Solve" button for a specific problem, a timer will begin counting down. While that timer is non-zero, you will be able to download the input text file and submit a corresponding output text file. You can do whatever you want within in the time limit, which means you are welcome to last-minute debug your program if you so choose, but you must upload the output and source code and click submit before the time runs out. When the timer runs out, you will have to use another attempt to solve the problem, but please note that the input file varies with each attempt! There is no penalty for submitting incorrectly, other than the loss of an attempt.
</p>

<h2>Requesting Clarifications</h2>
<p>
If you have any questions about a problem, please submit a clarification in the text box located below each problem statement. A judge will try to respond as quickly as possible, but be warned that the response will more often than not be for you to re-read the problem statement.
</p>

<h2>Scoring</h2>
<p>
Results can be viewed on the Scoreboard tab. Each row on the scoreboard represents a contestant that has solved or attempted at least one problem, and are ordered by descending rank. Ranks are determined by the total number of problems solved, with ties being broken by the total amount of time taken to produce the correct solutions.
</p>

<p>
A score with no correct solution and no attempts will appear as follows:
<br>
<img src="static/images/no-score.png" class="img-rounded" style="width: 100%;">
</p>

<p>
A score with no correct solution and some number of attempts will appear as follows, with the dash representing the lack of a solution, and the number representing the number of attempts:
<br>
<img src="static/images/attempts-score.png" class="img-rounded" style="width: 100%;">
</p>

<p>
And finally, a score with a correct solution will appear as follows, with the first number representing the minute at which the correct solutuion was received and the second represents the number of attempts it took to solve the problem:
<br>
<img src="static/images/correct-score.png" class="img-rounded" style="width: 100%;">
</p>

<h2>That's All Folks!</h2>
<p>
Good luck and have fun!
</p>
</div>
