<div class="container" style="text-align: center;">
<h1>UT ACM Programming Competitions</h1>
<img src="/static/images/info_session.jpg" width="100%">
<h3>
Thanks for coming to our info session!
</h3>

<br>
<p>Here's some information and a few links that you might find useful:</p>

<br>
<h5>What's the running competition?</h5>
<p>This is a week-long back-to-school problem set to help everyone get accustomed to the site.</p>
<p>There are no prizes for this competition. It's just for fun!</p>
<img src="/static/images/nick_wu.jpg" width="15%">
<p>All of these problems were written by <a href="https://www.facebook.com/huaiyu.wu">Nick Wu</a>, 2012/2013 ICPC World Finalist.</p>

<br>
<h5>When's the first competition?</h5>
<p>September 18th, 2015 @ GDC Auditorium (2.216) from 5:30-8:30pm</p>
<p>Competitions will recur every 2 weeks!</p>

<br>

<h5>When are workshops?</h5>
<p>Workshops are from 4-6pm every Wednesday @ GDC 5.302 (tentative)</p>
<p>September 9th: Programming Competitions 101</p>
<p>September 16th: Interview Preparation</p>

<br>
<h5>Want to get involved?</h5>
<p>Fill out the following: <a href="https://goo.gl/Uq9jdi">https://goo.gl/Uq9jdi</a></p>

<br>
<h5>Share the sign up link!</h5>
<p>Sign up here: <a href="https://goo.gl/hytLw3">https://goo.gl/hytLw3</a></p>

<br>
<h5>And join the Facebook Group!</h5>
<p>Here's the group: <a href="https://goo.gl/1bWRv9">https://goo.gl/1bWRv9</a></p>

<br>

<h4>Spread the word! Invite your friends! And let us know if you have any questions!</h4>
<em>- UT Competitive Programming Team</em>
<br>
&nbsp;
</div>
