<div class="col-sm-3 col-md-3 sidebar">
<accordion close-others="true" class="nav nav-sidebar nav-pills nav-stacked">
<accordion-group ng-class="getTabClass($index + 1)" ng-click="setActiveTab($index + 1)" ng-repeat="probId in probIds" class="panel" is-open="open[$index]" style="cursor: default;">
        <accordion-heading data-toggle="tab">
            <span style="float: left;">{{probId}}</span>
            <span class="badge" style="float: right;">0</span>
            <div class="clearfix"></div>
        </accordion-heading>
        Ready to submit {{probId}}
    </accordion-group>
</accordion>
</div>
<div class="tab-content col-sm-7 col-md-6 main">
    <div ng-class="getTabPaneClass($index + 1)" id="{{probId}}" class="content" ng-repeat="probId in probIds">
        <div ng-bind-html="probContents[probId] | unsafe"></div>
        <div class="voffset8">
            <form role="form" ng-submit="processClarifForm($index)">
                <div class="form-group">
                    <label>Submit Clarification</label>
                    <textarea class="form-control" placeholder="I don't understand..." rows="3" ng-model="clarif[$index]"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>       
</div>
</div>
