<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">Submissions</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Constestant</th>
                <th>Problem</th>
                <th>Verdict</th>
                <th>Language</th>
                <th>Run Time</th>
                <th>Submission Time</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="entry in submissions">
                <td>{{entry['user_id'][1]}}</td>
                <td>{{entry['subm_id']}}</td>
                <td>{{entry['prob_id']}}</td>
                <td>
                  <span ng-show="entry['result'] == 'CE'">
                    <a ng-href="/api/v1/errors/{{entry['subm_id']}}" target="_blank">{{verdicts[entry['result']]}}</a>
                  </span>
                  <span ng-show="entry['result'] != 'CE'">
                    {{verdicts[entry['result']]}}
                  </span>
                </td>
                <td>{{entry['lang']}}</td>
                <td>{{entry['run_time'] | number:3}}</td>
                <td>{{entry['submit_time'] | number:0}} minute(s) in</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
