<!DOCTYPE html>
<html ng-app="contest">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/toastr.css"/>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <title>UTACM Programming Contest</title>
</head>
<body>
<script src="/static/js/angular.js"></script>
<script src="/static/js/angular-resource.js"></script>
<script src="/static/js/toastr.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
