<!DOCTYPE html>
<html>
<head>
  <title>ACM Competition</title>

  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/navbarFix.css") }}" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/sidebar.css") }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ACM Competition</a>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/a/view/problems">Problems</a></li>
          <li><a href="/a/view/scoreboard">Scoreboard</a></li>
          <li><a href="/a/view/submissions">Submissions</a></li>
          <li><a id="timer">{{ timer }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">{{ escape(current_user["name"]) }}</a></li>
          <li><a href="/auth/logout">{{ _("Logout") }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar nav-pills nav-stacked custom-sidebar" role="tablist">
            {% for problem in problemList %}
            <li class="custom-tab"><a href="#{{ problem[0] }}" role="tab" data-toggle="tab">{{ problem[1] }}</a></li>
            {% end %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-content">
          {% for problem in problemSet %}
            <div id="{{ problem[0] }}" class="tab-pane">
              <h2>{{ problem[1] }}</h2>
              <p>{{ problem[2] }}</p>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Submission</h3>
                </div>
                <div class="panel-body">
                  <form method="post" enctype="multipart/form-data" action="/a/submit/code" class="submission">
                    <input type="hidden" name="pid" value="{{ problem[0] }}" />
                    <input type="file" name="source"/>
                    <input type="submit" value="{{ _("Submit") }}"/>
                    {% module xsrf_form_html() %}
                  </form>
                </div>
              </div>
            </div>
          {% end %}
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript">
    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    function getTime () {
      var timerValue = $('#timer').text();
      var oneSecond = 1000;

      if (timerValue === '' ||
          timerValue === null ||
          timerValue === undefined) {
        return setTimeout(getTimer, oneSecond);
      }
      else {
        var timerParts = timerValue.split(':');
        var time = Number(timerParts[2]) +
          Number(timerParts[1]) * 60 +
          Number(timerParts[0]) * 60 * 60;
        decrementTimer(time);
      }
    }

    function decrementTimer (time) {
      var hours = Math.floor(Math.floor(time / 60) / 60);
      var minutes = Math.floor(time / 60) % 60;
      var seconds = time % 60;
      var oneSecond = 1000;

      $('#timer').text(
        pad(hours, 2) + ':' +
        pad(minutes, 2) + ':' +
        pad(seconds, 2)
      );

      setTimeout(function () {
        if (time > 0) {
          decrementTimer(time - 1);
        }
      }, oneSecond);
    }

    function pad(num, size) {
      var str = num + "";
      while (str.length < size) {
        str = "0" + str;
      }
      return str;
    }

    getTime();
  </script>
</body>
</html>
